body, caption, th, td, input, textarea, select, option, legend, fieldset,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
}

body
{
  background-color: #0D0202;
  color: #333333;
  padding-top: 0;
}

p, pre
{
  margin: 1.0em 0;
}

textarea.watermark,
input.watermark
{
  color: #999;
}

a, a:link, a:visited
{
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #820604;

  /*
    From https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
  */
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

a:active,
a:hover
{
  color: #222;
}

#content
{
  min-height: 900px;
}

body.navbar-is-fixed-top
{
  margin-top: 0;
}

.main-container .row
{
  /* Matches the header height */
  padding-top: 186px;
  background-color: white;
  margin: 0 auto;
  min-height: 786px;
}

.main-container section.col-sm-12
{
  padding-top: 15px;
  padding-bottom: 15px;
}


header a img,
.footer a img
{
  opacity: 1.0;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;

  transition: opacity 0.25s ease;
}

header a img:hover,
.footer a img:hover
{
  opacity: 0.75;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

h2
{
  font-size: 1.25em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

/*----------------------------------------------------------------------------------------*/
/*
  Legacy fixes needed due to import.
*/

/* Added to every PDF icon by Routines.fixPDFDisplay(). */

img.pdf
{
  width: 32px;
  height: auto;
  margin-right: 10px;
}

a img.pdf
{
  opacity: 1.0;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;

  transition: opacity 0.25s ease;
}

a img.pdf:hover
{
  opacity: 0.75;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;

  transition: opacity 0.25s ease;
}

/* Used by Drupal 7, and it's in much of the content. */
.rtecenter
{
  text-align: center;
}

p
{
  margin: 0 0 20px;
}

h1
{
  font-size: 1.8em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h3
{
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

.select-wrapper select
{
  line-height: 1.2;
  width: 200px;
  cursor: pointer;
}

.select-wrapper select option
{
  font-size: 1.0em;
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------*/
/*
  Ajax
*/

#ajax-loading
{
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1100;
  width: 42px;
  height: 42px;
  top: 15px;
  border-radius: 15px;
  margin: 0 auto;
  display: none;
  background-color: white;
}

@media (min-width: 768px)
{
  #ajax-loading
  {
    top: 110px;
  }
}

#ajax-loading img
{
  width: 32px;
  height: auto;
  margin: 5px;
  display: block;
}

.container
{
  padding-right: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px)
{
  body
  {
    margin-top: 0;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Header */

.container > .navbar-header
{
  width: 100%;
}

/*I got these settings from grid.less for .container*/

@media screen and (min-width: 768px)
{
  .navbar.container
  {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px)
{
  .navbar.container
  {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px)
{
  .navbar.container
  {
    max-width: 1170px;
  }
}

.navbar
{
  padding-left: 0;
  padding-right: 0;
  background-color: #820604;
  background-size: 100% 100%;
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 0;
}

/*----------------------------------------------------------------------------------------*/
/*
  Menus
*/

.navbar-header
{
  width: 100%;
}

.navbar-inverse .navbar-nav
{
  width: 100%;
  background-color: #444444;
  margin: 0;
}

.navbar-inverse .navbar-nav > li > a
{
  color: white;
  font-size: 1.0em;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
  /* Background color too dark */
  color: yellow;
}

@media (min-width: 768px)
{
  .navbar .navbar-nav
  {
    float: left;
  }

  .navbar-nav > li > a
  {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

/* Override setting beo.style.css */
@media (max-width: 767px)
{
  div.navbar-collapse
  {
    padding: 0;
  }

  .container > .navbar-header
  {
    margin-right: 0;
    margin-left: 0;
  }
}

/*
  Weird, but otherwise you get scroll bars when expanding sub-menu.
*/
#navbar-collapse.in
{
  overflow: hidden;
  display: table;
  border: none;
}

.dropdown-menu
{
  border: 1px solid #333333;
  background: #444444 url(jquery-ui-1.12.1/images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x;
}

.dropdown-menu > li > a
{
  color: white;
}

/*----------------------------------------------------------------------------------------*/
/* Forms */

.captcha .panel-heading
{
  display: none;
}

/*----------------------------------------------------------------------------------------*/
/* Blocks */

#block-title
{
  position: relative;
}

#block-title,
#block-title .image img
{
  height: 150px;
}

#block-title .image
{
  float: left;
}

#block-title .image img
{
  width: auto;
  display: block;
}

#block-title .field
{
  overflow: hidden;
}

#block-title .header
{
  padding-top: 60px;
  text-align: center;
}

#block-title .header .title,
#block-title .header .motto
{
  color: #CCCCCC;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 1);
}

#block-title .header .title
{
  font-size: 1.14em;
  font-style: normal;
}

#block-title .header .motto
{
  font-size: 0.79em;
  font-style: italic;
}

@media (min-width: 768px)
{
  #block-title .header
  {
    padding-top: 28px;
  }

  #block-title .header .title
  {
    font-size: 2.0em;
  }

  #block-title .header .motto
  {
    font-size: 1.42em;
  }

}

.path-frontpage aside.col-sm-3 .region-sidebar-second,
.path-frontpage aside.col-sm-3
{
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------------------*/
/* Views */

#block-hwslideshowblock .flexslider
{
  display: none;
}

#block-hwslideshowblock .flexslider li a.dialogbox-image
{
  width: 100%;
}

#block-hwslideshowblock .flexslider li img
{
  max-height: 225px;
  height: 225px;
  width: auto;
  margin: 0 auto;
}

@media (min-width: 768px)
{
  #block-hwslideshowblock .flexslider li img
  {
    height: 350px;
    max-height: 350px;
  }
}

/* The 40px height cuts off the bottom of the arrows. */
.flex-direction-nav a
{
  height: 44px;
}

.view-display-id-page_announcements_past .views-row,
.view-display-id-page_display_taxonomy_list_documents .views-row
{
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
}

.view-display-id-page_announcements_past .views-row:nth-child(even),
.view-display-id-page_display_taxonomy_list_documents .views-row:nth-child(even)
{
  background-color: lightgrey;
}

.view-display-id-page_announcements_past .views-row .views-field-title
{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 15px;
}

.view-display-id-page_display_taxonomy_list .views-field-nid,
.view-display-id-page_display_taxonomy_list .views-field-title
{
  display: none;
}

/* Will be reset to display: block; in the JavaScript routines. */
div.view-display-id-page_display_taxonomy_list
{
  display: none;
}

.view-display-id-page_youtube_videos .views-field-field-youtube-video-id
{
  display: none;
}

.view-display-id-page_youtube_videos iframe.youtube-embedded
{
  width: 100%;
  height: 350px;
}

.view-display-id-page_youtube_videos .views-field-title
{
  text-align: center;
  padding-bottom: 20px;
}

.view-display-id-page_display_taxonomy_list_documents .views-field-field-document-file
{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.view-display-id-block_announcements_current .view-content
{
  padding: 15px;
}

.view-display-id-block_announcements_current .views-row
{
  padding: 25px 0;
  box-shadow: inset 0 0 2.5em darkgrey, 0 0 2.5em #820604;
  text-align: center;
}

.view-display-id-block_announcements_current .views-row .views-field-body
{
  display: none;
}

.view-display-id-block_announcements_current .views-row a
{
  font-size: 1.4em;
}

/*----------------------------------------------------------------------------------------*/
/* Footer */

.footer
{
  background-color: #820604;
  border: none;
  padding: 20px 0;
  margin-top: 0;
  text-align: center;
  color: white;

  font-size: 0.7em;
}

@media (min-width: 768px)
{
  .footer
  {
    font-size: 1.0em;
  }
}


/* Override setting in beo.routines. */
.footer img
{
  display: block;
  margin: 0 auto;
}

.footer a
{
  color: gray;
}

.footer a:active,
.footer a:hover
{
  color: #222;
}

/*----------------------------------------------------------------------------------------*/
/* jQuery UI tweaks */

#TaxonomyContentAndListforTabs.ui-widget-content,
#TaxonomyContentAndListforTabs .ui-widget-content
{
  background: none;
  color: black;
  border: none;
  min-height: 600px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor
{
  float: left;
  padding: 0.25em 0.5em;
}

#ShowAnnoucementForFrontPage
{
  padding: 15px;
}

#ShowAnnoucementForFrontPage.ui-dialog-content
{
  background: white;
  color: black;
}

.ui-widget-content .ui-tabs-nav li a
{
  font-weight: normal;
}

.ui-tabs-vertical .ui-tabs-nav
{
  float: none;
  text-align: center;
  margin: 0 auto;
}